In [330]:
import tensorflow as tf
import numpy as np
import pandas as pd

from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

seed = 1234
tf.random.set_seed(seed)
np.random.seed(seed)

In [331]:
data_positive = pd.read_csv("samples_positive.csv")
data_negative = pd.read_csv("samples_negative.csv")

In [332]:
data = pd.concat([data_positive, data_negative])
data.head()

,GPA,SAT Reading & Writing,SAT Math,SAT Essay,Activity Score,Personal Statement Score,Residency,Race,Gender,Accepted
0,4.0,751,709,17,80,80,International,Asian,Female,1
1,3.7,790,782,17,80,80,CA resident,Asian,Male,1
2,3.5,744,729,16,80,80,International,White,Male,1
3,4.0,759,737,17,80,80,CA resident,White,Female,1
4,4.0,707,759,18,80,80,CA resident,Asian,Female,1

In [333]:
obj_cols = data.select_dtypes(include=['object']).columns
processed_data = data.copy()
residency_ordinal_encoder = OrdinalEncoder()
processed_data[obj_cols] = residency_ordinal_encoder.fit_transform(data[obj_cols])

In [334]:
processed_data.head()

,GPA,SAT Reading & Writing,SAT Math,SAT Essay,Activity Score,Personal Statement Score,Residency,Race,Gender,Accepted
0,4.0,751,709,17,80,80,1.0,2.0,0.0,1
1,3.7,790,782,17,80,80,0.0,2.0,2.0,1
2,3.5,744,729,16,80,80,1.0,7.0,2.0,1
3,4.0,759,737,17,80,80,0.0,7.0,0.0,1
4,4.0,707,759,18,80,80,0.0,2.0,0.0,1

In [335]:
shuffled_data = processed_data.sample(frac=1, random_state=seed).reset_index(drop=True)

In [336]:
shuffled_data.head()

,GPA,SAT Reading & Writing,SAT Math,SAT Essay,Activity Score,Personal Statement Score,Residency,Race,Gender,Accepted
0,3.6,751,753,16,80,80,0.0,2.0,0.0,1
1,3.9,712,796,16,80,80,0.0,2.0,2.0,1
2,3.6,768,743,18,80,80,1.0,4.0,0.0,1
3,3.6,717,783,16,80,80,0.0,4.0,2.0,1
4,3.9,785,744,16,80,80,0.0,2.0,0.0,1

In [337]:
y = shuffled_data.pop("Accepted")
X = shuffled_data.copy()

In [338]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=seed)

In [339]:
def create_model():
    model = tf.keras.Sequential([
        tf.keras.layers.Dense(1, activation="sigmoid", input_shape=(9, ))
    ])
    model.compile(optimizer='sgd', loss='binary_crossentropy', metrics=['accuracy'])
    return model

In [340]:
model = create_model()

In [341]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50)

Epoch 1/50
150/150 [==============================] - 0s 1ms/step - loss: 1085.5012 - accuracy: 0.5619 - val_loss: 1199.7026 - val_accuracy: 0.6567
Epoch 2/50
150/150 [==============================] - 0s 893us/step - loss: 1053.5315 - accuracy: 0.5660 - val_loss: 360.6918 - val_accuracy: 0.6567
Epoch 3/50
150/150 [==============================] - 0s 905us/step - loss: 1031.7712 - accuracy: 0.5640 - val_loss: 2148.1509 - val_accuracy: 0.3433
Epoch 4/50
150/150 [==============================] - 0s 890us/step - loss: 926.9409 - accuracy: 0.5919 - val_loss: 11.2688 - val_accuracy: 0.9442
Epoch 5/50
150/150 [==============================] - 0s 924us/step - loss: 956.3192 - accuracy: 0.5823 - val_loss: 574.1177 - val_accuracy: 0.3433
Epoch 6/50
150/150 [==============================] - 0s 1ms/step - loss: 858.4219 - accuracy: 0.5925 - val_loss: 1827.5643 - val_accuracy: 0.6567
Epoch 7/50
150/150 [==============================] - 0s 931us/step - loss: 899.6639 - accuracy: 0.5921 - val_loss: 109.0141 - val_accuracy: 0.4158
Epoch 8/50
150/150 [==============================] - 0s 889us/step - loss: 817.7167 - accuracy: 0.6023 - val_loss: 1164.5770 - val_accuracy: 0.3433
Epoch 9/50
150/150 [==============================] - 0s 900us/step - loss: 823.5831 - accuracy: 0.5985 - val_loss: 1632.9775 - val_accuracy: 0.6567
Epoch 10/50
150/150 [==============================] - 0s 907us/step - loss: 729.2870 - accuracy: 0.6340 - val_loss: 136.3952 - val_accuracy: 0.4358
Epoch 11/50
150/150 [==============================] - 0s 887us/step - loss: 692.2809 - accuracy: 0.6308 - val_loss: 100.6483 - val_accuracy: 0.7700
Epoch 12/50
150/150 [==============================] - 0s 901us/step - loss: 632.8411 - accuracy: 0.6506 - val_loss: 1390.7286 - val_accuracy: 0.6567
Epoch 13/50
150/150 [==============================] - 0s 890us/step - loss: 514.9299 - accuracy: 0.6917 - val_loss: 30.1051 - val_accuracy: 0.8758
Epoch 14/50
150/150 [==============================] - 0s 888us/step - loss: 531.2950 - accuracy: 0.6896 - val_loss: 923.6852 - val_accuracy: 0.6567
Epoch 15/50
150/150 [==============================] - 0s 922us/step - loss: 623.3890 - accuracy: 0.6383 - val_loss: 329.7545 - val_accuracy: 0.6667
Epoch 16/50
150/150 [==============================] - 0s 878us/step - loss: 462.3145 - accuracy: 0.7048 - val_loss: 38.3550 - val_accuracy: 0.9442
Epoch 17/50
150/150 [==============================] - 0s 872us/step - loss: 436.4791 - accuracy: 0.7165 - val_loss: 864.1798 - val_accuracy: 0.3433
Epoch 18/50
150/150 [==============================] - 0s 881us/step - loss: 373.6351 - accuracy: 0.7485 - val_loss: 34.4837 - val_accuracy: 0.9058
Epoch 19/50
150/150 [==============================] - 0s 905us/step - loss: 276.2159 - accuracy: 0.7777 - val_loss: 157.9127 - val_accuracy: 0.5000
Epoch 20/50
150/150 [==============================] - 0s 891us/step - loss: 369.9030 - accuracy: 0.7244 - val_loss: 55.9786 - val_accuracy: 0.9125
Epoch 21/50
150/150 [==============================] - 0s 994us/step - loss: 390.6418 - accuracy: 0.7279 - val_loss: 654.8618 - val_accuracy: 0.6567
Epoch 22/50
150/150 [==============================] - 0s 888us/step - loss: 321.0912 - accuracy: 0.7633 - val_loss: 162.2348 - val_accuracy: 0.7600
Epoch 23/50
150/150 [==============================] - 0s 911us/step - loss: 298.1034 - accuracy: 0.7798 - val_loss: 51.4830 - val_accuracy: 0.9308
Epoch 24/50
150/150 [==============================] - 0s 882us/step - loss: 267.4808 - accuracy: 0.7812 - val_loss: 112.6607 - val_accuracy: 0.6150
Epoch 25/50
150/150 [==============================] - 0s 904us/step - loss: 225.8534 - accuracy: 0.7965 - val_loss: 533.2113 - val_accuracy: 0.6583
Epoch 26/50
150/150 [==============================] - 0s 899us/step - loss: 295.4894 - accuracy: 0.7800 - val_loss: 45.2618 - val_accuracy: 0.9517
Epoch 27/50
150/150 [==============================] - 0s 905us/step - loss: 247.3784 - accuracy: 0.7906 - val_loss: 40.1510 - val_accuracy: 0.9508
Epoch 28/50
150/150 [==============================] - 0s 898us/step - loss: 291.4236 - accuracy: 0.7738 - val_loss: 41.2470 - val_accuracy: 0.9542
Epoch 29/50
150/150 [==============================] - 0s 916us/step - loss: 170.5048 - accuracy: 0.8367 - val_loss: 41.3119 - val_accuracy: 0.9533
Epoch 30/50
150/150 [==============================] - 0s 882us/step - loss: 213.0839 - accuracy: 0.8085 - val_loss: 79.0478 - val_accuracy: 0.8933
Epoch 31/50
150/150 [==============================] - 0s 907us/step - loss: 272.0431 - accuracy: 0.7881 - val_loss: 54.5605 - val_accuracy: 0.9400
Epoch 32/50
150/150 [==============================] - 0s 893us/step - loss: 160.8165 - accuracy: 0.8498 - val_loss: 41.8071 - val_accuracy: 0.9467
Epoch 33/50
150/150 [==============================] - 0s 886us/step - loss: 232.9626 - accuracy: 0.8079 - val_loss: 50.8082 - val_accuracy: 0.8567
Epoch 34/50
150/150 [==============================] - 0s 887us/step - loss: 167.6642 - accuracy: 0.8340 - val_loss: 43.0029 - val_accuracy: 0.9208
Epoch 35/50
150/150 [==============================] - 0s 873us/step - loss: 234.7615 - accuracy: 0.8092 - val_loss: 43.0500 - val_accuracy: 0.9292
Epoch 36/50
150/150 [==============================] - 0s 875us/step - loss: 206.7718 - accuracy: 0.8244 - val_loss: 128.5965 - val_accuracy: 0.6150
Epoch 37/50
150/150 [==============================] - 0s 891us/step - loss: 182.7430 - accuracy: 0.8271 - val_loss: 44.2729 - val_accuracy: 0.9508
Epoch 38/50
150/150 [==============================] - 0s 896us/step - loss: 198.5096 - accuracy: 0.8240 - val_loss: 44.3531 - val_accuracy: 0.9492
Epoch 39/50
150/150 [==============================] - 0s 979us/step - loss: 198.3286 - accuracy: 0.8198 - val_loss: 486.1600 - val_accuracy: 0.6675
Epoch 40/50
150/150 [==============================] - 0s 877us/step - loss: 184.2866 - accuracy: 0.8356 - val_loss: 58.3343 - val_accuracy: 0.9408
Epoch 41/50
150/150 [==============================] - 0s 903us/step - loss: 169.7466 - accuracy: 0.8348 - val_loss: 44.9299 - val_accuracy: 0.9467
Epoch 42/50
150/150 [==============================] - 0s 889us/step - loss: 139.6304 - accuracy: 0.8598 - val_loss: 47.6026 - val_accuracy: 0.9000
Epoch 43/50
150/150 [==============================] - 0s 892us/step - loss: 192.4055 - accuracy: 0.8196 - val_loss: 109.5231 - val_accuracy: 0.6717
Epoch 44/50
150/150 [==============================] - 0s 892us/step - loss: 142.6468 - accuracy: 0.8602 - val_loss: 531.3934 - val_accuracy: 0.3433
Epoch 45/50
150/150 [==============================] - 0s 921us/step - loss: 151.9163 - accuracy: 0.8450 - val_loss: 939.8539 - val_accuracy: 0.6567
Epoch 46/50
150/150 [==============================] - 0s 897us/step - loss: 231.6210 - accuracy: 0.8158 - val_loss: 49.1162 - val_accuracy: 0.9558
Epoch 47/50
150/150 [==============================] - 0s 884us/step - loss: 189.2438 - accuracy: 0.8375 - val_loss: 166.6084 - val_accuracy: 0.7967
Epoch 48/50
150/150 [==============================] - 0s 867us/step - loss: 150.1770 - accuracy: 0.8600 - val_loss: 282.0367 - val_accuracy: 0.4417
Epoch 49/50
150/150 [==============================] - 0s 903us/step - loss: 165.1126 - accuracy: 0.8400 - val_loss: 237.5910 - val_accuracy: 0.7450
Epoch 50/50
150/150 [==============================] - 0s 872us/step - loss: 167.5140 - accuracy: 0.8408 - val_loss: 46.7359 - val_accuracy: 0.9375

In [342]:
model.predict([[3.5, 710, 740, 18, 80, 80, 3.0, 5.0, 0.0], 
               [4.0, 780, 780, 18, 80, 80, 3.0, 5.0, 0.0]])

1/1 [==============================] - 0s 45ms/step

array([[1.],
       [1.]], dtype=float32)

In [343]:
model.predict([[2.0, 600, 600, 16, 100, 100, 3.0, 2.0, 0.0],
               [2.6, 700, 600, 13, 80, 80, 1.0, 2.0, 1.0]])

1/1 [==============================] - 0s 26ms/step

array([[0.],
       [0.]], dtype=float32)

In [344]:
model.save_weights("logistic_weights.h5")

In [345]:
model = create_model()

In [346]:
model.load_weights("logistic_weights.h5")

In [347]:
model.evaluate(X_test, y_test)

38/38 [==============================] - 0s 623us/step - loss: 46.7359 - accuracy: 0.9375

[46.73590850830078, 0.9375]